# Logs y reportes
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (esta carpeta nunca debe subirse ya que es muy pesada)
node_modules/
jspm_packages/
web_modules/

# Carpeta de compilación (dist de producción)
dist/
dist-ssr/

# Caché de TypeScript y compiladores
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

# Variables de entorno (credenciales, tokens, etc.)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Configuraciones de editores (VS Code, WebStorm, etc.)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
